html

body {
    display: block;
    width: 100vw;
    background-color: rgb(41, 44, 47);
}

h1, h2 {
    text-align: center;
    color: white !important;
    justify-content: center;
}

#mainH1 {
    margin-top: 50px;
}

label {
    color: white !important;
    font-weight: bolder !important;
    font-size: large;
    margin-left: 15px;
}

#name, #description, #price ,#quantity, 
#address, #balance, #username, #pin {
    display: flexwrap;
    width: 95%;
    padding-top: 50px;
    margin-left: 10%;
}

#phoneNumber {
    display: flex;
    width: 75%;
    align-items: center;
    padding-top: 50px;
    margin-left: 3%;
}

#phoneNumberInput, #nameInput, #balanceInput, #addressInput {
    display: flex;
    width: 75%;
    align-items: center;
    padding-top: 50px;
    margin-left: 5%;
    text-align: center;
}
#phoneNumberInput {
    width: 95%;
    margin-left: 15.5%;
}

#product-nameInput, #product-descriptionInput, #product-priceInput,
#product-quantityInput, #client-nameInput, #client-phoneNumberInput, #client-addressInput,
#client-balanceInput {
    margin-left: 5%;
    width: 90%;
}

#indexBTN {
    margin: 9px;
    width: 33%;
    height: 45px;
    margin-top: 100px;
    font-size: larger;
    font-weight: bold;
    display: flexbox;
}
#BTN {
    padding: 10px;
    width: 200px;    
    font-size: larger;
    font-weight: bold;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 15px;
}

#addClientBTN {
    margin-left: 39%;
    font-size: larger;
    font-weight: bolder;
    margin-top: 5%;
}

#saveChanges {
    margin-left: 39%;
    font-size: larger;
    font-weight: bolder;
    margin-top: 5%;}

th {
    border-bottom: solid black 2px;
    color: white;
}

#tdOdd {
    background-color: #b9d5e2;
    color: black !important;
    border: solid white 1.5px;
    text-align: center;
    border-style: dotted;
}

#tdEven {
    background-color: #cfcfcf;
    color: black !important;
    text-align: center;
    border: solid white 1.5px;
    border-style: dotted;
}

#clientForm {
    display: flexbox;
    text-align: left;
    justify-content: center;
}
#client-form-group, #form-control {
    display: block;
    padding-bottom: 25px;
}

.form-group-phNum {
    display: block;
}