<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Client</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <a id="BTN" href="{{ url_for('clients') }}" class="btn btn-primary"
        >Back to Clients</a
      >

      <h1>Add Client</h1>

      <form id="clientForm" method="POST" action="/add_client">
        <div class="client-form-group" id="name">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="client-nameInput"
            name="name"
            required
          />
        </div>
        <div class="client-form-group" id="phoneNumber">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="client-phoneNumberInput"
            name="phoneNumber"
            required
          />
        </div>
        <div class="client-form-group" id="address">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            id="client-addressInput"
            name="address"
          />
        </div>
        <div class="client-form-group" id="balance">
          <label for="balance">Balance</label>
          <input
            type="text"
            class="form-control"
            id="client-balanceInput"
            name="balance"
            required
          />
        </div>
        <button type="submit" id="addClientBTN" class="btn btn-success">
          Add Client
        </button>
      </form>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
