<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <a id="BTN" href="{{ url_for('dashboard') }}" class="btn btn-primary"
        >Back to Home</a
      >

      <h1><strong>Inventory</strong></h1>
      <table class="table">
        <thead>
          <tr>
            <th><strong>Name</strong></th>
            <th><strong>Description</strong></th>
            <th><strong>Price</strong></th>
            <th><strong>Quantity</strong></th>
            <th><strong>Actions</strong></th>
          </tr>
        </thead>
        <tbody>
          {% for item in inventory %}
          <tr>
            <td id="tdEven">
              <strong>{{ item[1] }}</strong>
            </td>
            <td id="tdOdd"><strong>{{ item[2] }}</strong></td>
            <td id="tdEven"><strong>{{ item[3] }}</strong></td>
            <td id="tdOdd"><strong>{{ item[4] }}</strong></td>
            <td id="tdEven">
              <form method="POST" action="/delete_product/{{ item[0] }}">
                <a
                  class="btn btn-primary"
                  href="{{ url_for('edit_product', product_id=item[0]) }}"
                >
                  <strong style="color: white; width: 45px">Edit</strong>
                </a>
                <button
                  type="button"
                  class="btn btn-danger"
                  onclick='confirmDelete("{{ item[0] }}")'
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <script>
        function confirmDelete(productID) {
          var result = confirm("Are you sure you want to delete this product?");
          if (result) {
            // If user confirms, submit the form
            document
              .querySelector('form[action="/delete_product/' + productID + '"]')
              .submit();
          }
        }
      </script>

      <a
        id="addClientBTN"
        href="{{ url_for('add_product') }}"
        class="btn btn-success"
      >
        Add Product
      </a>
    </div>
  </body>
</html>
