<!-- Create a file named manage_users.html in your templates folder -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <a id="BTN" href="{{ url_for('dashboard') }}" class="btn btn-primary">Back to Home</a>

    <h1><strong>Manage Users</strong></h1>

    <table class="table">
        <thead>
            <tr>
                <th><strong>User ID</strong></th>
                <th><strong>User Name</strong></th>
                <th><strong>Role</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td id="tdOdd"><strong>{{ user[0] }}</strong></td>
                    <td id="tdEven"><strong>{{ user[1] }}</strong></td>
                    <td id="tdOdd"><strong> {{ user[3] }}</strong></td>
                    <td id="tdEven">
                        <form method="POST" action="/delete_user/{{ user[0] }}">
                            <button type="button" class="btn btn-danger" onclick='confirmDelete("{{ user[0] }}")'>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

        <script>
            function confirmDelete(userID) {
                var result = confirm("Are you sure you want to delete this user?");
                if (result) {
                    // If user confirms, submit the form
                    document.querySelector('form[action="/delete_user/' + userID + '"]').submit();
                }
            }
        </script>
        
    </table>

    <form action="/commit_to_github" method="post">
        <input type="submit" class="btn-outline-danger" value="Commit to GitHub">
      </form>
      
      

</body>
</html>
